
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

header{
  background-color: rgb(149, 203, 203);
  box-shadow: 5px 5px 10px #636060;
}

#subheading{
  font-size: 1.8rem;
  text-align: center;
}

.intro-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh 0;
  
}

img{
  height: 35vh;
  width: auto;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(72, 73, 74);
}

.intro-section h1{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
}

.intro-section p{
  font-size: 1.2rem;
}

.personal-details{
margin-top: 10vh;
margin-bottom: 10vh;
}



hr{
  width: 50%;
  margin: auto;
}

.education-section{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.card-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}


.card{
  width: 60%;
  padding: 30px 10px;
  text-align: center;
  margin-bottom: 20px;
  /* border: 2px solid rgb(188, 194, 194); */
  box-shadow: 5px 5px 5px 3px rgb(179, 178, 178);
}


table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: left;
}

th{
  font-size: 1.2rem;
  padding-right: 30px;
}

.experience-details{
  margin-top: 10vh;
  margin-bottom: 10vh;
}


.internship-section{
  display: flex;
  justify-content: space-evenly;
}

.card-section2{
  text-align: center;
  width: 30%;
  margin-top: 5vh;
}

.card-section2 h4{
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.semester-details{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.skill-section{
  margin-top: 10vh;
  margin-bottom: 10vh;

}

.tab-section{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.col{
  display: flex;
  flex-direction: column;
}


.tab{
 border : 1px solid #000;
 text-align: center;
 padding: 20px 40px;
 margin: 10px 10px 10px 10px;
 font-weight: 700;
 font-size: 1.2rem;
}


.personality-section{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.personality-section div{
  margin-top: 5vh;
  text-align: center;
  
}

.personality-section span{
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 10px;
}





.timetable, .timetable tr, .timetable th, .timetable td{
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}

.timetable th{
  background-color: azure;
}

footer{
  background-color: rgb(149, 203, 203);;
  font-size: 1.5rem;
  text-align: center;
padding: 2vh 0;
}